<h1>Add a new invité</h1>
<div class="container-form-new-spot">
  <%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :password%>
  <%= f.button :submit, class: 'btn btn-light' %>
  <% end %>
</div>
